.inbox-nav {
    padding: 10px 62px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
    background-color: #2196f3;
    min-width: 786px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.inbox-nav__left {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.inbox-nav__left-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
}

.inbox-nav__left-item {
    margin: 30px 0 30px 50px;
}

.inbox-nav__left-link i {
    margin-right: 12px;
}

.trash, .sent {
    color: #2b2d3c;
}