*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #2f3242;
    font-family: 'Montserrat', sans-serif;
}

button {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, p, span {
    margin: 0;
    padding: 0;
}

